{%load staticfiles%}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static "BookTicket/css/materialize.css" %} ">


  <title>Form</title>
  <link href="{% static "BookTicket/fonts/font-awesome-icon.html" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="{% static "BookTicket/css/materialize.css" %}">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .gender-male,.gender-female {
  display: inline-block;
}
.gender-female {
  margin-left: 35px;}
    main {
      flex: 1 0 auto;
    

    body {
      background: #fff;
    }



    .input-field input[type=date]:focus+label,
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field input[type=password]:focus+label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
  </style>
</head>

<body>
  <nav class="nav-wrapper teal">
    <div class="container">
      <a href="..\home" class="brand-logo">OnTrack</a>
      
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="..\home">Home</a></li>
        <li><a href="..\home#follow">About</a></li>
        <li><a href="..\home#contact">Contact</a></li>
        <li>
          {%if al%}
          <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown2" href="#"><i class="material-icons white-text">person_pin</i></label>
          <!-- Dropdown Structure -->
          <ul id='dropdown2' class='dropdown-content collection'>
                
                  <li><a><h6>{{al.1}}</h6></a></li>
                  <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                  <li><a href="..\homepg"><h6>Logout</h6></a></li>
                  
                 
    
                
              </ul>
      {%else%}
      <a href="../login">Login</a>
      {%endif%}
</li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
      <li>
        <div class="container">
          {%if al%}
                <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown4" href="#"><i class="center-align material-icons teal-text medium">person_pin</i></label>
                <!-- Dropdown Structure -->
                <ul id='dropdown4' class='dropdown-content collection'>
                  
                      
                    <li><a><h6>{{al.1}}</h6></a></li>
                    <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                    <li><a href="..\homepg"><h6>Logout</h6></a></li>
                    
                    
                    </ul>
          {%endif%}
          </li>
        </div>
    <li><a href="..\home" class="teal-text">Home</a></li>
    <li><a href="..\home#follow" class="teal-text">About</a></li>
    <li><a href="..\home#contact" class="teal-text">Contact</a></li>
  </ul>
  <div class="section"></div>
  <main>
    <center>
      <h1 class="red-text"><img height="141.5px" width="300px" src="{% static "BookTicket/images/traingif.gif" %}"></h1></img>
      <div class="section"></div>

      <h5 class="indigo-text">Confirm details</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-3 grey lighten-4 row" style="width: 900px; display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form action="#" class="col s12" method="post">
            {%csrf_token%}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
            <div class="row">
                    
                    <div class="input-field col s12">
                        
                      <input disabled value="{{al.1}}" id="usernamedis" type="text" class="validate" >
                      
                      <label for="disabled">Enter user name</label>
                    </div>
                    
                  </div>
            <div class='row'>
                <div class='input-field col s12'>
                  <input disabled value="{{name}}" class='validate' type='text' name='name' id='name' required />
                  <label for='name'>Enter passenger name</label>
                </div>
              </div>

            <div class='row'>
                <div class='input-field col s12'>
                  <input disabled value="{{age}}" class='validate' type='number' name='age' id='age' required />
                  <label for='age'>Enter Age</label>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <input disabled value="{{gender}}" class='validate' type='text' name='gender' id='gender' required />
                  <label for='gender'>Gender</label>
                </div>
              </div>
              <!-- <div class="row">
                    <div class="inline-radio left">
                      <div class="gender-male">
                        <label>
                        <input class="with-gap" name="gender" type="radio" id="male" value="M" checked />
                        <span>Male</span>
                      </label>
                      </div>
                      <div class="gender-female">
                        <label>
                            <input class="with-gap" name="gender" type="radio" id="female" value="F" />
                            <span>Female</span>
                          </label>
                      </div>
                    </div>
                  </div> -->
              <!-- <div class="row">
                  <div class="input-field col s12">
                      <select name='quota'>
                        <option value=""  disabled>Choose quota</option>
                        <option value="General" selected>General</option>
                        <option value="Divyaang">Divyaang</option>
                        <option value="Tatkal">Tatkal</option>
                      </select>
                      <label>Quota</label>
                    </div>
              </div> -->
              <div class='row'>
                <div class='input-field col s12'>
                  <input disabled value="{{quota}}" class='validate' type='text' name='quota' id='quota' required />
                  <label for='quota'>Quota</label>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <input disabled value="{{cost}}" class='validate' type='number' name='cost' id='cost' required />
                  <label for='cost'>Cost</label>
                </div>
              </div>


            <br />
            <center>
              <!-- <div class="row"> -->
                  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Submit</a> -->
                  <!-- <div id="modal1" class="modal"> -->
                    <!-- <div class="modal-content"> -->
                      <!-- <h4>Ticket Booked</h4> -->
                      <!--  -->
                    <!-- </div> -->
                    <!-- <div class="modal-footer"> -->
                      <!-- <a class="modal-close waves-effect indigo btn" type="submit" name='btn_login' value='Submit'>OK</a> -->
                    <!-- </div> -->
                  <!-- </div> -->
              <!-- </div> -->
              <div class='row'>
                <button onclick="M.toast({html: 'Ticket Booked<br>  The cost of your ticket is {{cost}} Your PNR number is {{pnr}}'})" type='submit' name='btn_login' value="Submit" class='col s12 btn btn-large waves-effect indigo'>Confirm</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
  <script src="{% static "BookTicket/js/jquery-3.4.0.min.js" %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static "BookTicket/js/materialize.min.js" %}"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.modal').modal();
      $('.dropdown-trigger').dropdown({
          hover:true,
          coverTrigger:false
          // belowOrigin:true
        });
      $('select').formSelect();
    })
  </script>
</body>

</html>
