{%load staticfiles%}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static "BookTicket/css/materialize.css" %} ">


  <title>PNR Status</title>
  <link href="{% static "BookTicket/fonts/font-awesome-icon.html" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="{% static "BookTicket/css/materialize-2.css" %}">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }

    .input-field input[type=date]:focus+label,
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field input[type=password]:focus+label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
  </style>
</head>

<body>
  <nav class="nav-wrapper teal">
    <div class="container">
      <a href="..\home" class="brand-logo">OnTrack</a>
      
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="..\home">Home</a></li>
        <li><a href="..\home#follow">About</a></li>
        <li><a href="..\home#contact">Contact</a></li>
        <li>
          {%if al%}
          <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown2" href="#"><i class="material-icons white-text">person_pin</i></label>
          <!-- Dropdown Structure -->
          <ul id='dropdown2' class='dropdown-content collection'>
              {%for i in al%}
                
                  <li><a><h6>{{i.aname}}</h6></a></li>
                  <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                  <li><a href="..\homepg"><h6>Logout</h6></a></li>
                  
                  {%endfor%}
    
                
              </ul>
      {%else%}
      <a href="../login">Login</a>
      {%endif%}
</li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
      <li>
        <div class="container">
          {%if al%}
                <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown4" href="#"><i class="center-align material-icons teal-text medium">person_pin</i></label>
                <!-- Dropdown Structure -->
                <ul id='dropdown4' class='dropdown-content collection'>
                    {%for i in al%}
                      
                    <li><a><h6>{{i.aname}}</h6></a></li>
                    <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                    <li><a href="..\homepg"><h6>Logout</h6></a></li>
                    
                    {%endfor%}
                    </ul>
          {%endif%}
          </li>
        </div>
    <li><a href="..\home" class="teal-text">Home</a></li>
    <li><a href="..\home#follow" class="teal-text">About</a></li>
    <li><a href="..\home#contact" class="teal-text">Contact</a></li>
  </ul>
  <div class="section"></div>
  <main>
    <center>
      <h1 class="red-text"><img height="141.5px" width="300px" src="{% static "BookTicket/images/traingif.gif" %}"></h1></img>
      <div class="section"></div>

      <h5 class="indigo-text">Check PNR status</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
          style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input type='text' name='pnr' id='pnr' data-length="10" pattern="[0-9]{10}"/>
                <label for='pnr'>Enter your PNR number</label>
                <span class="helper-text" data-error="Please enter valid 10 digit PNR number"></span>
              </div>
            </div>

            <!-- <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Enter your password</label>
              </div> -->
              <!-- <label style='float: right;'>
                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
              </label>
            </div> -->

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <!-- <a href="#!">Create account</a> -->
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
  <script src="{% static "BookTicket/js/jquery-3.4.0.min.js" %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static "BookTicket/js/materialize.min.js" %}"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav()
      $('input#pnr').characterCounter();
      $('.dropdown-trigger').dropdown({
          hover:true,
          coverTrigger:false
          // belowOrigin:true
        });
    })
  </script>
</body>

</html>
