{%load staticfiles%}
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
    <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "BookTicket/css/materialize.css" %} ">
    <!--font-awesome-->
    <link rel="stylesheet" href="{% static "BookTicket/fonts/font-awesome.min.css" %}">
  
    <link rel="stylesheet" href="{% static "BookTicket/css/font-awesome-all.css" %}">
    
    <title>Home</title>
    <link href="{% static "BookTicket/fonts/font-awesome-icon.html" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
      href="{% static "BookTicket/css/materialize-2.css" %}">
      <style>
        .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }
    
        main {
          flex: 1 0 auto;
        }
    
        body {
          background: #fff;
        }
    
        .input-field input[type=date]:focus+label,
        .input-field input[type=text]:focus+label,
        .input-field input[type=email]:focus+label,
        .input-field input[type=password]:focus+label {
          color: #e91e63;
        }
    
        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
          border-bottom: 2px solid #e91e63;
          box-shadow: none;
        }
        #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
      </style>

  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="teal">
        <div class="container">
          <div class="nav-wrapper">
            <a href="..\home" class="brand-logo">OnTrack</a>
            <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li>
              <!-- Dropdown menu -->
                <a class="dropdown-trigger" hover="true" data-target="dropdown1" href="#">Trains<i class="material-icons small white-text right">arrow_drop_down</i></a>
              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content collection'>
                  <li><a href="..\pnr"><h6>PNR status</h6></a></li>
                  <li><a href="..\search"><h6>Search</h6></a></li>
              </ul>
              </li>
              <li>
                <a href="#popular">Popular Places</a>
              </li>
              <li>
                <a href="#gallery">Gallery</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li>
                    <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown2" href="#"><i class="material-icons white-text">person_pin</i></label>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content collection'>
                        {%for i in al%}
                          
                            <li><a><h6>{{i.aname}}</h6></a></li>
                            <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                            <li><a href="..\home"><h6>Logout</h6></a></li>
                            
                            {%endfor%}
              
                          
                        </ul>
                </li>
              <!-- <li>
                <a href="..\login">Login</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <a class="material-icons btn-floating waves-light white" id="back2Top" title="Back to top" href="#">arrow_forward</a>
    <ul class="sidenav" id="mobile-links">
        <div class="container">
            <li>
                    <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown4" href="#"><i class="center-align material-icons blue-text medium">person_pin</i></label>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown4' class='dropdown-content collection'>
                            <li><a><h6>Name</h6></a></li>
                            <li><a><h6>Email</h6></a></li>
                            <li><a href="..\home"><h6>Logout</h6></a></li>
                        </ul>
              </li>
            </div>
      <li>
        <!-- Dropdown menu -->
        <a class="dropdown-trigger blue-text" hover="true" data-target="dropdown3" href="#">Trains<i class="material-icons small blue-text right">arrow_drop_down</i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown3' class='dropdown-content collection'>
            <li><a href="..\pnr" class="blue-text"><h6>PNR status</h6></a></li>
            <li><a href="..\search" class="blue-text"><h6>Search</h6></a></li>
        </ul>
      </li>
      <li>
        <a href="#popular" class="blue-text">Popular Places</a>
      </li>
      <li>
        <a href="#gallery" class="blue-text">Gallery</a>
      </li>
      <li>
        <a href="#contact" class="blue-text">Contact</a>
      </li>

      <!-- <li>
        <a href="..\login">Login</a>
      </li> -->
    </ul>

    <!-- Section: Search -->
    <section id="search" class="section section-search teal lighten-3 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3>Explore</h3>
            <nav>
              <div class="nav-wrapper grey lighten-3">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons black-text">close</i>
                  </div>
                </form>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Icon Boxes -->
    <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large teal-text">today</i>
              <h4>Book Ticket</h4>
              <p><a href="..\search">Click here to book tickets</a></p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large teal-text">cancel</i>
              <h4>Cancel Tickets</h4>
              <p><a href="#">Click here to cancel ticket</a></p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large teal-text">train</i>
              <h4>Train schedule</h4>
              <p><a href="#">Click here to view train schedule</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Popular -->
    <section id="popular" class="section section-popular scrollspy">
      <div class="container">
        <div class="row">
          <h4 class="center">
            <span class="teal-text">Popular Places</span></h4>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="{% static "BookTicket/images/resort1.jpg" %}" alt="">
                <span class="card-title">Mumbai</span>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="{% static "BookTicket/images/resort2.jpg" %}" alt="">
                <span class="card-title">Goa</span>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="{% static "BookTicket/images/resort3.jpg" %}" alt="">
                <span class="card-title">Nainital</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <a href="#contact" class="btn btn-large grey darken-3">
              <i class="material-icons left">send</i> Contact For Booking
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Follow -->
    <section id="follow" class="section section-follow teal darken-2 white-text center scrollspy">
      
      <div class="container">
          
            <h4>Follow OnTrack</h4>
            <p>Follow us on social media for special offers</p>
            <nav class="navbar-transition cool-navbar z-depth-0 teal darken-2">
                <div class="container">
            <ul style="justify-content: center;display:flex">

            <!-- <li><a href="https://www.facebook.com" class="tooltipped btn-floating btn-small waves-effect waves-light teal" data-position="bottom" data-tooltip="Facebook"> -->
              <!-- <i class="fab fa-facebook"></i> -->
            <!-- </a></li> -->
            <!-- <li><a href="https://www.twitter.com" class="tooltipped btn-floating btn-small waves-effect waves-light teal" data-positon="bottom" data-tooltip="Twitter"> -->
              <!-- <i class="fab fa-twitter"></i> -->
            <!-- </a></li> -->
            <!-- <li><a href="https://www.linkedin.com" class="tooltipped btn-floating btn-small waves-effect waves-light teal" data-positon="bottom" data-tooltip="LinkedIn"> -->
              <!-- <i class="fab fa-linkedin"></i> -->
            <!-- </a></li> -->
            <!-- <li><a href="https://www.instagram.com" class="tooltipped btn-floating btn-small waves-effect waves-light teal" data-positon="bottom" data-tooltip="Instagram"> -->
              <!-- <i class="fab fa-instagram"></i> -->
            <!-- </a></li> -->
            <!-- <li><a href="https://www.pinterest.com" class="tooltipped btn-floating btn-small waves-effect waves-light teal" data-positon="bottom" data-tooltip="Pinterest"> -->
              <!-- <i class="fab fa-pinterest"></i> -->
            <!-- </a></li> -->

            <li><a href="https://www.facebook.com" class="btn-floating waves-effect waves-light teal">
              <img src="{% static "BookTicket/images/facebook icon.png" %}"/>
            </a></li>
            <li><a href="https://www.twitter.com" class="btn-floating waves-effect waves-light teal">
              <img src="{% static "BookTicket/images/twitter icon.png" %}"/>
            </a></li>
            <li><a href="https://www.linkedin.com" class="btn-floating waves-effect waves-light teal">
              <img src="{% static "BookTicket/images/linkedin icon.png" %}"/>
            </a></li>
            <li><a href="https://www.instagram.com" class="btn-floating waves-effect waves-light teal">
              <img src="{% static "BookTicket/images/Instagram icon.png" %}"/>
            </a></li>
            <li><a href="https://www.pinterest.com" class="btn-floating waves-effect waves-light teal">
              <img src="{% static "BookTicket/images/pinterest icon.png" %}"/>
            </a></li>
            
            </ul>
          </div>
          </nav>
          </div>

    </section>

    <!-- Section: Gallery -->
    <section id="gallery" class="section section-gallery scrollspy">
      <div class="container">
        <h4 class="center">
          <span class="teal-text">Photo Gallery</span>
        </h4>
        <div class="row">
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/train1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/travel1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/nature1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/railway1.jpg" %}" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/beaches1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/rail1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/bridges1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/train2.jpg" %}" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/railway-station1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/building1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/trees1.jpg" %}" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="{% static "BookTicket/images/train-station1.jpg" %}" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: Contact -->
    <section id="contact" class="section section-contact scrollspy">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel teal white-text center">
              <i class="material-icons medium">email</i>
              <h5>Contact Us For Booking</h5>
              <p></p>
            </div>
            <ul class="collection with-header">
              <li class="collection-header">
                <h4>Location</h4>
              </li>
              <li class="collection-item">OnTrack Agency</li>
              <li class="collection-item">555 Beach Rd, Suite 33</li>
              <li class="collection-item">Chennai TN, 60028</li>
            </ul>
          </div>

          <div class="col s12 m6">
            <form class="col s12" method="GET">
              <div class="card-panel grey lighten-3">
                <h5>Please fill out this form</h5>
                <div class="input-field">
                    <i class="material-icons prefix teal-text">face</i>
                  <input type="text" class="validate" id="name">
                  <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix teal-text">email</i>
                  <input type="email" class="validate" id="email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix teal-text">phone</i>
                  <input type="text" class="validate" id="phone">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field">
                  <div class="input-field">
                    <i class="material-icons prefix teal-text">mode_edit</i>
                    <input type="text" class="validate" id="message" data-length="150">
                    <label for="message">Message</label>
                  </div>
                  <!-- <textarea class="materialize-textarea" id="textarea1" data-length="150"></textarea> -->
                  <!-- <label for="textarea1">Message</label> -->
                </div>
                <button type="submit" anme="action" class="btn waves-effect waves-light">Submit</button>
              </div>
            </form>
          </div>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="section teal darken-2 white-text center">
      <p class="flow-text">OnTrack &copy; 2019</p>
    </footer>
    <script src="{% static "BookTicket/js/jquery-3.4.0.min.js" %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static "BookTicket/js/materialize.min.js" %}"></script>
    <script>
      $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.scrollspy').scrollSpy();
        $('.tooltipped').tooltip();
        $('.dropdown-trigger').dropdown({
          hover:true,
          coverTrigger:false
          // belowOrigin:true
        });
        // $('#textarea1').val('');
        // M.textareaAutoResize($('#textarea1'));
        $('input#message').characterCounter();
        // $.widget.bridge('uitooltip', $.ui.tooltip);
        // Slider
        // const slider = document.querySelector('.slider');
        // M.Slider.init(slider, {
        //     indicators: false,
        //     height: 500,
        //     transition: 500,
        //     interval: 6000
        //   });

        // // Scrollspy
        // // const ss = document.querySelectorAll('.scrollspy');
        // // M.ScrollSpy.init(ss, {});

        // // Material Boxed
        // const mb = document.querySelectorAll('.materialboxed');
        // M.Materialbox.init(mb, {});

        // // Auto Complete
        // const ac = document.querySelector('.autocomplete');
        // M.Autocomplete.init(ac, {
        //     data: {
        //       "Aruba": null,
        //       "Cancun Mexico": null,
        //       "Hawaii": null,
        //       "Florida": null,
        //       "California": null,
        //       "Jamaica": null,
        //       "Europe": null,
        //       "The Bahamas": null,
        //     }
        //   });
      });
      $(window).scroll(function() {
    var height = $(window).scrollTop();
    if (height > 100) {
        $('#back2Top').fadeIn();
    } else {
        $('#back2Top').fadeOut();
    }
});
$(document).ready(function() {
    $("#back2Top").click(function(event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });

});
    </script>
  </body>

  </html>
