{%load staticfiles%}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <link href="{% static "BookTicket/fonts/material-icons-1" %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static "BookTicket/css/materialize.css" %} ">


  <title>Schedule</title>
  <link href="{% static "BookTicket/fonts/font-awesome-icon.html" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="{% static "BookTicket/css/materialize.css" %}">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }

    .input-field input[type=date]:focus+label,
    .input-field input[type=text]:focus+label,
    .input-field input[type=email]:focus+label,
    .input-field input[type=password]:focus+label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
  </style>
</head>

<body>
  <nav class="nav-wrapper teal">
    <div class="container">
      <a href="..\home" class="brand-logo">OnTrack</a>
      
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="..\home">Home</a></li>
        <li><a href="..\home#follow">About</a></li>
        <li><a href="..\home#contact">Contact</a></li>
        <li>
            {%if al%}
            <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown2" href="#"><i class="material-icons white-text">person_pin</i></label>
            <!-- Dropdown Structure -->
            <ul id='dropdown2' class='dropdown-content collection'>
             
                    <li><a><h6>{{al.1}}</h6></a></li>
                    <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                    <li><a href="..\homepg"><h6>Logout</h6></a></li>
                    
             
      
                  
                </ul>
        {%else%}
        <a href="../login">Login</a>
        {%endif%}
        </li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
      <li>
        <div class="container">
          {%if al%}
                <label class="dropdown-trigger" for="user" hover="true" data-target="dropdown4" href="#"><i class="center-align material-icons teal-text medium">person_pin</i></label>
                <!-- Dropdown Structure -->
                <ul id='dropdown4' class='dropdown-content collection'>
                   
                  <li><a><h6 class="teal-text">{{al.1}}</h6></a></li>
                  <!-- <li><a><h6>{{i.aemail}}</h6></a></li> -->
                  <li><a href="..\homepg"><h6  class="teal-text">Logout</h6></a></li>
                    
                 
                    </ul>
          {%endif%}
          </li>
        </div>
        <li><a href="..\home"  class="teal-text">Home</a></li>
        <li><a href="..\home#follow"  class="teal-text">About</a></li>
        <li><a href="..\home#contact"  class="teal-text">Contact</a></li>
  </ul>
<br><br>
<div class="container">
  <table class="centered responsive-table">
    <thead>
      <tr>
          <th>Train No</th>
          <th>Train Name</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
       
    
      </tr>
    </thead>
    
    <tbody>
      {%for i in train%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
      </tr>
      {%endfor%}
    </tbody>
    
  </table>
</div>
    <div class="section"></div>
    <div class="section"></div>
  </main>
  <script src="{% static "BookTicket/js/jquery-3.4.0.min.js" %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static "BookTicket/js/materialize.min.js" %}"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav()
      $('input#pnr').characterCounter();
      $('.dropdown-trigger').dropdown({
          hover:true,
          coverTrigger:false
          // belowOrigin:true
        });
    })
  </script>
</body>

</html>
